[submodule "TheBiss0n7"]
	path = TheBiss0n7
	url = https://github.com/betherworld/TheBiss0n7
[submodule "CiviGo"]
	path = CiviGo
	url = https://github.com/betherworld/CiviGo
[submodule "SoBeIt"]
	path = SoBeIt
	url = https://github.com/betherworld/SoBeIt
[submodule "soychain"]
	path = soychain
	url = https://github.com/betherworld/soychain
[submodule "Bloodchain"]
	path = Bloodchain
	url = https://github.com/betherworld/Bloodchain
[submodule "Bohnanza"]
	path = Bohnanza
	url = https://github.com/betherworld/Bohnanza
[submodule "bETHerCare"]
	path = bETHerCare
	url = https://github.com/betherworld/bETHerCare
[submodule "bETHerHealth"]
	path = bETHerHealth
	url = https://github.com/betherworld/bETHerHealth
[submodule "NRGo"]
	path = NRGo
	url = https://github.com/betherworld/NRGo
[submodule "byson"]
	path = byson
	url = https://github.com/betherworld/byson
[submodule "MrBeans"]
	path = MrBeans
	url = https://github.com/betherworld/MrBeans
[submodule "Sustainergy"]
	path = Sustainergy
	url = https://github.com/betherworld/Sustainergy
[submodule "ABitOfCharity"]
	path = ABitOfCharity
	url = https://github.com/betherworld/ABitOfCharity
[submodule "INplusONE"]
	path = INplusONE
	url = https://github.com/betherworld/INplusONE
[submodule "carpETHii"]
	path = carpETHii
	url = https://github.com/betherworld/carpETHii
[submodule "MinusMinusEnergy"]
	path = MinusMinusEnergy
	url = https://github.com/betherworld/MinusMinusEnergy
[submodule "BETHabase"]
	path = BETHabase
	url = https://github.com/betherworld/BETHabase
[submodule "FAVOR"]
	path = FAVOR
	url = https://github.com/betherworld/FAVOR
[submodule "Bisons-Unchained"]
	path = Bisons-Unchained
	url = https://github.com/betherworld/Bisons-Unchained
[submodule "aDappter"]
	path = aDappter
	url = https://github.com/betherworld/aDappter
[submodule "chainge"]
	path = chainge
	url = https://github.com/betherworld/chainge
